<%= render "layouts/nav" %>
<section>
    <div class="container">
      <div class="card_shadow">
      <div class="card-body">
        <div class="field"> 
          <h4><b>Setup Instructions:</b></h4>
            <ul>
                <li>Step 1: Install the app in the store. This will be done by the technical team.</li>
                <li>Step 2: Create new "Settings".</li>
                <li>Step 3: Add the 4 tags to the product you want to offer for online raffle from the store.</li>
                <li>The four tags are:</li>
                   <li> <b>  raffle </b> </li>
                   <li> <b> online/offline </b> (pick one) </li>
                   <li> <b> launch-date-MM-DD-YYYY-HH-MM  </b> </li>
                   <li> <b>  saving-time </b>  </li>


              <li>  IMPORTANT: Launch date tag-The launch date should be greater than the current time for the product to be shown in "Raffle Products". </li>

               <li> Online tag: This will send the winner (customer) of an <b>online raffle</b>, a link to buy the product.</li>
               <li> Offline tag: This will send the winner (customer) of an <b> offline raffle</b>, an alphanumeric code to buy the product from the physical store.</li>
               <li> Step 4: Please ensure that the <b>product availability </b> should be set to online store. In other words, the product needs to be<b> published and available on the online store</b>.</li>
               <li> Step 5: Refresh the application page to reflect the recently added raffle products in the application.</li>
               <li> Step 6: The customers can register themselves for products set up for raffles  by submitting their details through the raffle form.</li>
               <li> Step 7: Winner and runner(s) up will be chosen on launch date and time.</li>
               <li> Step 8: Merchant can review entries as well as runner(s) up and winner details.</li>
               <li> Step 9: Merchant can notify either runner(s)-up or winner to buy the product. He can only notify as many people as the inventory of that product/variant. The app will not let the merchant send notifications if the product variant is not in stock.</li>
               <li> Step 10: Merchant can send email to all the participants of the raffle who did not win. </li>
            </ul>
        </div>
      </div>
    </div>
</section>
