<section>
    <div class="container">
      <div class="card_shadow">
      <div class="card-body">
        <div class="field">
          <h4>Setup Instructions:</h4>
            <ul>
                <li>Install the app</li>
                <li>Create a campaign as per instructions given below</li>
                <li>Customize the look and feel of your popup that displays on the frontend</li>
                <li>Once the campaign is active, track the metrics by navigating to the details page</li>
            </ul>
        </div>
      </div>
    </div><!--card_shadow-->
    <div class="card_shadow">
      <div class="card-body">
        <div class="field">
          <h4>Setup Instructions:</h4>
            <ul>
                <li>Install the app</li>
                <li>Create a campaign as per instructions given below</li>
                <li>Customize the look and feel of your popup that displays on the frontend</li>
                <li>Once the campaign is active, track the metrics by navigating to the details page</li>
            </ul>
        </div>
      </div>
    </div><!--card_shadow-->
    </div><!--container-->
</section>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>


